/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* These are general styles for the body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* This is the styling for the header section */
.header {
  background: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 8px 120px 80px;
}
.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 500;
}
.nav-links {
  color: #e5e7eb;
  font-size: 18px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

img {
  width: 500px;
  height: 300px;
  border-radius: 12px;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 100px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 450px;
}
.hero-text-heading {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
.hero-text-paragraph {
  color: #e5e7eb;
  font-size: 18px;
}

.btn {
  background: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  padding: 8px 30px;
  border: 0;
}

/* This is styling for the random information section */
.random-information {
  background: #f9faf8;
  display: flex;
  flex-direction: column;
  padding: 0 170px 80px;
}

.random-information-heading {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.box {
  background-color: #f9faf8;
  width: 170px;
  height: 170px;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.random-information-paragraph {
  width: 170px;
  font-size: 18px;
  color: #4d4b4b;
  text-align: center;
}

/* This is styling for the quote section */
.quote {
  background: #e5e7eb;
  padding: 120px 200px 80px;
}

.paragraph-quote {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}
.quote-author {
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  text-align: right;
  margin-top: 6px;
}

/* This is the styling for the call to action section */
.call-to-action {
  background: #f9faf8;
  padding: 100px 120px;
}

.call-to-action-container {
  border-radius: 12px;
  /* display: flex; */
  /* flex-direction: column; */
  padding: 60px 100px;
  background-color: #3882f6;
}

.call-to-action-heading {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.call-to-action-subtext {
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.call-to-action-btn {
  border: 2px solid #f9faf8;
}

/* This is the styling for the footer */
.footer {
  background: #1f2937;
  padding: 50px 0;
  color: #f9faf8;
  font-size: 18px;
  text-align: center;
}

.footer-text {
  color: #f9faf8;
  font-size: 18px;
}
